
<div class="center hero-unit">
  <br>
  <h1>WCorcBoard</h1>

  <h2>
    Web付箋アプリケーション WCorcBoardへようこそ！
  </h2>

  <br><br>
  <%= link_to "ログインする", '#', class: "btn btn-large btn-primary" %><br><br>
  <h3>
    アカウントの新規作成は<%= link_to "こちらから", '#' %>
  </h3>
</div>
