<% provide(:title, @user.name) %>
<% content_for :head do %>
  <%= stylesheet_link_tag    "users", :media => "all" %>
  <%= csrf_meta_tags %>
  <script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/fonts/fonts-min.css" />
  <script src="http://yui.yahooapis.com/3.5.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script src="http://yui.yahooapis.com/3.5.0/build/calendar/calendar-min.js"></script>
  <script src="http://yui.yahooapis.com/3.5.0/build/slider-value-range/slider-value-range-min.js"></script>
  <script type="text/javascript" src="../javascripts/jquery-1.7.2.min.js"></script>
<% end %>

<div class="left hero-unit">
  <div class="yui3-skin-sam">
    <button id="add"> 付箋を書く</button>
    <div id="userName" align="right"><%= current_user.name %> さん</div>
    <div id="tabtable"></div>
    
    <div id="panelContent">
      <div class="yui3-widget-bd">
        <form>
          <fieldset>
            <p>
              <label for="subject">件名</label>
              <input type="text" name="subject" id="subject" value="" placeholder="">
            </p>
            <p>
              <label for="detail">メモ内容</label>
              <textarea name="detail" id="detail" cols="100" rows="10"></textarea>
            </p>
          </fieldset>
        </form>
      </div>
     </div>
     
     <div id="colorPicker">
       <div class="yui3-widget-bd">
         <form>
           <fieldset>
              <div id="picker"></div>
           </fieldset>
         </form>
       </div>
     </div>
  </div>

  <script type="text/javascript">
    var clr;
    var tabview;
    
    YUI({ gallery: 'gallery-2012.04.12-13-50' }).use('gallery-patch-350-widget-modality', 'datatable-mutable', 'panel', 'dd-plugin', function(Y) {
      var subField = Y.one('#subject'),
          detailField = Y.one('#detail'),
          clrPic = Y.one('#color'),
          addBtn = Y.one('#add'),
          cols = ['subject', 'detail'],
          dt, panel;
      
      clrPic = new Y.Panel({
        srcNode :'#colorPicker',
        headerContent: '付箋の色を選択',
        width : 400,
        zIndex :5,
        contered :true,
        modal :true,
        visible :false,
        render :true,
        plugins :[Y.Plugin.Drag]
      });

      panel = new Y.Panel({
        srcNode :'#panelContent',
        headerContent: '  付箋の新規作成',
        width  :500,
        zIndex :5,
        centered :true,
        modal :true,
        visible :false,
        render :true,
        plugins :[Y.Plugin.Drag]
      });

      panel.addButton({
        value :'付箋の色を選択',
        section :Y.WidgetStdMod.FOOTER,
        action :function(e) {
          clrPic.show();
        }
      });
      
      panel.addButton({
        value :'付箋を追加',
        section :Y.WidgetStdMod.FOOTER,
        action :function(e){
          panel.hide();
          tagGet(subField.get('value'), detailField.get('value'));
          subField.set('value', '');
          detailField.set('value', '');
        }
      });
      
      clrPic.addButton({
        value :'OK',
        section :Y.WidgetStdMod.FOOTER,
        action :function(e) {
          clrPic.hide();
        }
      });
      
      function pushTag( obj ) {
        tabview.Child(0).newVal(obj);
      };

      addBtn.on('click', function(e) {
        panel.show();
      });

     YUI({gallery: 'gallery-2011.09.28-20-06'
     }).use('gallery-colorpicker', function(Y) {
        var colorpicker = new Y.ColorPicker({
           srcNode : '#picker'
           });
           colorpicker.render();
           
	       Y.one('#color').on('click',function(ev) {
		     ev.halt();
		     clr = colorpicker.get('hex');
         });
      });
   });
   
   YUI().use('tabview', function(Y) {
     tabview = new Y.TabView({
        children: [{
            label: 'CorkBoard',
            content: '<div class="container"><div align="right"><div id="defaultCal"></div></div></div>'
        }]
     });
    tabview.render('#tabtable');
    tabview.selectChild(0);
   });
       
    var cnt = 0;
    function tagGet(su, de) {
          var taglb;
          var sub = su;
          var det = de;
          
          YUI().use('panel', 'dd-plugin', function (Y) {
            taglb = new Y.Panel({
            bodyContent : det,
            headerContent : sub,
            centered: true,
            modal: false,
            render  : true,
            visible : true,
            plugins :[Y.Plugin.Drag]
          });
          
          ("div.container").prepend("<p>"+taglb+"</p>");
          ("p").attr("id", randomize());
          
          taglb.render();
        });
    };
    
    function randomize() {
        cnt += 1;
        return cnt;
    };

    YUI().use('calendar', 'datatype-date', 'cssbutton', 'dd-plugin', function(Y) {
        var calendar = new Y.Calendar({
          contentBox: "#defaultCal",
          width: '300px',
          showPrevMonth: true,
          showNextMonth: true,
          date: new Date(),
          plugins :[Y.Plugin.Drag] });
          
          var dtdate = Y.DataType.Date;
          calendar.render();
    });
  </script>
</div>