<% provide(:title, @user.name) %>
<% content_for :head do %>
  <%= stylesheet_link_tag    "users", :media => "all" %>
  <%= csrf_meta_tags %>
  <script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/calendar/assets/skins/sam/calendar.css">
  <script src="http://yui.yahooapis.com/3.5.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script src="http://yui.yahooapis.com/3.5.0/build/calendar/calendar-min.js"></script>
<% end %>
<div class="left hero-unit">
  <div class="yui3-skin-sam">
    <p><button id="add"> 付箋を追加</button></p>
    <div id="tabtable"></div>
    <div id="panelContent">
      <div class="yui3-widget-bd">
        <form>
          <fieldset>
            <p>
              <label for="subject">件名</label>
              <input type="text" name="subject" id="subject" value="" placeholder="">
            </p>
            <p>
              <label for="detail">メモ内容</label>
              <textarea name="detail" id="detail" cols="100" rows="10"></textarea>
            </p>
          </fieldset>
        </form>
      </div>
     </div>
  </div>

  <script type="text/javascript">
    YUI({ gallery: 'gallery-2012.04.12-13-50' }).use('gallery-patch-350-widget-modality', 'datatable-mutable', 'panel', 'dd-plugin', function(Y) {
      var subField = Y.one('#subject'),
          detailField = Y.one('#detail'),
          addBtn = Y.one('#add'),
          cols = ['subject', 'detail'],
          dt, panel;

      function addItem() {
        dt.addRow({
          subject: subjectField.get('value'),
          detail: detailField.get('value'),
        });
        panel.hide();
      }

      panel = new Y.Panel({
        srcNode :'#panelContent',
        headerContent: '  付箋の新規作成',
        width  :500,
        zIndex :5,
        centered :true,
        modal :true,
        visible :false,
        render :true,
        plugins :[Y.Plugin.Drag]
      });

      panel.addButton({
        value :'付箋を追加',
        section :Y.WidgetStdMod.FOOTER,
        action :function(e){
          e.preventDefault();
          removeAllItemsConfirm();
        }
      });

      addBtn.on('click', function(e) {
        panel.show();
      });
    });
  </script>

  <script type="text/javascript">
    YUI().use('tabview', function(Y) {
    var tabview = new Y.TabView({
        children: [{
            label: 'ボード1',
            content: '<div id="defaultCal"></div>'
        }, {
            label: 'ボード2',
            content: '<p>bar content</p>'
        }, {
            label: 'ボード3',
            content: '<p>baz content</p>'
        }]
    });

    tabview.render('#tabtable');
    tabview.selectChild(0);
});
</script>

  <script type="text/javascript">
    YUI().use('calendar', 'datatype-date', 'cssbutton', function(Y) {
        var calendar = new Y.Calendar({
          contentBox: "#defaultCal",
          width: '300px',
          showPrevMonth: false,
          showNextMont: true,
          date: new Date() }).render();
          
        var dtdate = Y.DataType.Date;
        
        calendar.on("selectionChange", function(ev) {
          var newDate = ev.newSelection[0];
          
          Y.one("#selecteddate").setContent(dtdate.format(newDate));
        });
     });
  </script>
</div>