<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "WBC", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ヘルプ", help_path %></li>
          <li><%= link_to "ログイン", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
